
body{
	background-color:#9badc7;
}


#con2 {
	font-family: fantasy;
	font-size: 3em;
	width: 400px;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

#con3 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	border-left: 2px solid pink;
	width: 400px;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}


img {
	transition: all 1s;
	padding: 20px 20px 20px 20px;
	display: flex;
	flex-wrap: wrap;
}

img:hover {
	transform: scale(1.1);
}

#bg
{
	background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); 
	z-index: -1;
}

p
{
	float:right;
}

#float-right
{
	float:right;
}

am{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
am-instagram
{
	background: #125688;
  color: white;
}
