h1{
	text-align: center;
}
body{
	background-color: yellow;
}

h3{
	transform: rotate(90deg);
}
h5{
	color: rgb(0,0,0);
}


img {
	transition: all 1s;
	justify-content: center;
}

img:hover {
	transform: scale(1.1);
}